:root{ 
    --main-color: #215a16;
    --colorone: red;
    --main-bg: rgb(19, 17, 17);
    -ms-text-size-adjust: medium;
    --header-height: 68px;
    --content-padding: 10px 20px;
}

body{
    color: var(--main-color);
}

