:root{ 
    --main-color: #215a16;
    --colorone: red;
    --colortwo: white;
    --main-bg: rgb(10, 116, 202);
    --fontsize: medium;
    --header-height: 68px;
    --content-padding: 10px 20px;
}

body{
    background-color: var(--main-bg);
    font-size: var(--fontsize);
    padding: var(--content-padding);
}

h1{
    color:var(--colorone);
    height: var(--header-height);
}

#one{
    color:var(--colorone)
}

#two{
    color: var(--colortwo);
}
